/**
* @Author: LeChatong
* @Date: 09/05/2023
*/
$lechatong-default-primary: #9E9E9E;
$lechatong-default-secondary: #F5F5F5;

$lechatong-info-primary: #03A9F4;
$lechatong-info-secondary: #81D4FA;

$lechatong-success-primary: #009688;
$lechatong-success-secondary: #80CBC4;

$lechatong-warning-primary: #FFEE58;
$lechatong-warning-secondary: #FFF59D;

$lechatong-error-primary: #F44336;
$lechatong-error-secondary: #EF9A9A;

$lechatong-basic-00: #FFFFFF;
$lechatong-basic-01: #263238;
$lechatong-basic-02: #FAFAFA;
