@import '../../scss/base.scss';

.lechatong-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  color: $lechatong-basic-02;
}
.lechatong-button--type--default {
  background-color: $lechatong-default-primary;
  &:hover, :active {
    background-color: $lechatong-default-secondary;
    color: $lechatong-basic-01 !important; 
  }
}
.lechatong-button--type--info {
  background-color: $lechatong-info-primary;
  &:hover {
    background-color: $lechatong-info-secondary;
  }
}
.lechatong-button--type--success {
  background-color: $lechatong-success-primary;
  &:hover {
    background-color: $lechatong-success-secondary;
  }
}
.lechatong-button--type--danger {
  background-color: $lechatong-warning-primary;
  &:hover {
    background-color: $lechatong-warning-secondary;
  }
}
.lechatong-button--type--error {
  background-color: $lechatong-error-primary;
  &:hover {
    background-color: $lechatong-error-secondary;
  }
}
.lechatong-button--disable {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  cursor: not-allowed;
}
.lechatong-button--size--small {
  font-size: 12px;
  padding: 10px 16px;
}
.lechatong-button--size--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.lechatong-button--size--large {
  font-size: 16px;
  padding: 12px 24px;
}
